body {
    display: flex;
    min-height: 100vh;
    flex-direction: column; 
}

main {
    flex: 1 0 auto; 
}

/* blog posts*/

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    font-size: 40px;
    margin-bottom: 5px;
}
.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
    font-style: italic;
}